* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

.awesome_restaurant {
    background-image: url(/img/main-bg.png);
    width: 95vw;
    max-width: 1300px;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.content_awesome_restaurant {
    width: 45%;
}

.content_awesome_restaurant>.content_heading {
    font-family: "montserrat";
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.content_awesome_restaurant>.content_subtitle {
    font-family: "montserrat";
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    color: orange;
    position: relative;
    display: block;
}

.content_awesome_restaurant>.content_subtitle::after {
    content: "";
    width: 50px;
    height: 5px;
    background-color: orangered;
}

.content_awesome_restaurant>.content_description {
    width: 100%;
    max-width: 400px;
    font-family: "montserrat";
    font-weight: 500;
    line-height: 1.35;
    font-size: 0.95rem;
    margin-bottom: 2.5rem;
    display: block;
}

.content_awesome_restaurant>.content_cta {
    display: inline-block;
    font-family: "montserrat";
    font-weight: 600;
    line-height: 1.35;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    margin-bottom: 1.25rem;
    transition: all 0.2s ease-in-out;
}

.content_awesome_restaurant>.content_cta:hover {
    color: white;
    background-color: orange;
    border: 2px solid orange;
    scale: 1.1;
}

.image_awesome_restaurant {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_awesome_restaurant>img {
    width: 95%;
    max-width: 600px;
}

.image_awesome_restaurant>img:hover {
    scale: 1.1;
    transition: ease-in-out 0.5s;
}

@media (max-width: 720px) {
    .awesome_restaurant {
        flex-direction: column;
    }
    .content_awesome_restaurant {
        width: 100%;
        margin-bottom: 2rem;
    }
    .content_awesome_restaurant>.content_heading {
        font-family: "montserrat";
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .image_awesome_restaurant {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* GOOD FOOD CSS */

.good_food {
    background-image: url(/img/main-bg.png);
    width: 95vw;
    max-width: 1300px;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.content_good_food {
    width: 45%;
}

.content_good_food>.content_heading {
    font-family: "montserrat";
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.content_good_food>.content_subtitle {
    font-family: "montserrat";
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    color: orange;
    font-weight: 600;
    position: relative;
    display: block;
}

.content_good_food>.content_subtitle::after {
    content: "";
    width: 50px;
    height: 5px;
    background-color: orangered;
}

.content_good_food>.content_description {
    width: 100%;
    max-width: 400px;
    font-family: "montserrat";
    font-weight: 500;
    line-height: 1.35;
    font-size: 0.95rem;
    margin-bottom: 2.5rem;
    display: block;
}

.content_good_food>.content_cta {
    display: inline-block;
    font-family: "montserrat";
    font-weight: 600;
    line-height: 1.35;
    font-size: 0.7rem;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    margin-bottom: 1.25rem;
    transition: all 0.2s ease-in-out;
}

.content_good_food>.content_cta:hover {
    color: white;
    background-color: orange;
    border: 2px solid orange;
    scale: 1.1;
}

.image_good_food {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_good_food>img {
    width: 95%;
    max-width: 600px;
}

.image_good_food>img:hover {
    scale: 1.1;
    transition: ease-in-out 0.5s all;
}

@media (max-width: 720px) {
    .good_food {
        flex-direction: column;
    }
    .content_good_food {
        width: 100%;
        margin-bottom: 2rem;
    }
    .content_good_food>.content_heading {
        font-family: "montserrat";
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .image_good_food {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* TASTY MENU */

.tasty_menu {
    position: relative;
    background-image: url(/img/main-bg.png);
}

.tasty_menu_content {
    padding: 2rem;
}

#milmenu {
    display: none;
}

.content_heading {
    font-family: "montserrat";
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.tmenuicons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tmenuicons a:active {
    scale: 1.2;
}

.cs1 {
    margin: 1em;
}

.cs2 {
    margin: 1em;
}

.chh {
    color: orange;
    margin: 0.5rem;
}

.tasty_menu_card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    padding: 2rem;
}

.tasty_menu_card>.card_content_heading {
    font-family: "montserrat";
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.tasty_menu_card>.menu_item_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.milpitas {
    display: none;
}

.tasty_menu_card>.menu_item_row>.menu_card_items {
    width: 48%;
    background-color: #fff;
}

.tasty_menu_card>.menu_item_row>.menu_card_items>.menu_card_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.btnc4 {
    border: 0;
    outline: none;
    padding: 10px 16px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    left: 12%;
    color: #fff;
    background-color: orange;
    font-family: montserrat;
    font-weight: 500;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    .btnc4 {
        font-size: 9px;
        margin: 2px 2px;
    }
}

.tasty_menu>.tasty_menu_content>.active {
    border: 0;
    outline: none;
    padding: 10px 16px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    left: 12%;
    color: #000;
    background-color: #fff;
    border: 2px solid orange;
    font-family: montserrat;
    font-weight: 500;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    .tasty_menu>.tasty_menu_content>.active {
        font-size: 10px;
        font-weight: 600;
    }
}


/* .tasty_menu_card>.menu_item_row>.menu_card_items>.menu_card_item>img {
    height: 100%;
    aspect-ratio: 1;
    margin-right: 1rem;
} */

#myModal {
    display: none;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
}


/* Modal Content (image) */

.modal-content {
    margin: 5rem auto;
    display: block;
    width: 50%;
    aspect-ratio: 1;
    max-width: 500px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.tasty_menu_card>.menu_item_row>.menu_card_items>.menu_card_item>.menu_item_info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-right: 1rem;
    padding: 0.5rem;
    flex-grow: 1;
}

#idsecmilpitas2,
#idsecmilpitas1,
#idsecmilpitas3,
#idsecmilpitas4,
#idsecmilpitas5,
#idsecmilpitas6,
#idsecmilpitas7,
#idsecfremont3,
#idsecfremont4,
#idsecfremont5,
#idsecfremont6,
#idsecfremont7,
#idsecfremont2 {
    display: none;
}

#idsecfremont1 {
    display: block;
}

.tasty_menu_card>.menu_item_row>.menu_card_items>.menu_card_item>.menu_item_info>.menu_item_heading {
    font-family: "montserrat";
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.tasty_menu_card>.menu_item_row>.menu_card_items>.menu_card_item>.menu_item_info>.menu_item_description {
    font-family: "montserrat";
    font-size: 0.82rem;
    margin-bottom: 0.5rem;
    max-width: 400px;
    color: rgba(0, 0, 0, 0.4);
}

.tasty_menu_card>.menu_item_row>.menu_card_items>.menu_card_item>.menu_item_price {
    font-family: "montserrat";
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    margin-right: 1rem;
    position: relative;
    text-align: center;
    color: orange;
}

.tasty_menu_card>.menu_cta {
    display: inline-block;
    font-family: "montserrat";
    font-weight: 600;
    line-height: 1.35;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    /* border: 2px solid black; */
    padding: 0.75rem 1.25rem;
    margin-top: 1.25rem;
    transition: all 0.2s ease-in-out;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.menu_bg {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: -5rem;
    z-index: -1;
    background-image: url("/img/Tasty\ Menu\ Today-bg.png");
}

@media (max-width: 900px) {
    .tasty_menu_content {
        padding: 2rem;
    }
    .tasty_menu_card>.menu_item_row {
        flex-direction: column;
    }
    .tasty_menu_card>.menu_item_row>.menu_card_items {
        width: 100%;
        background-color: #fff;
    }
    .menu_bg {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .tasty_menu_content {
        padding: 2rem;
    }
    .tasty_menu_card {
        padding: 1rem;
    }
    .tasty_menu_card>.menu_item_row>.menu_card_items>.menu_card_item>img {
        margin-right: 0.5rem;
    }
    .tasty_menu_card>.menu_item_row>.menu_card_items>.menu_card_item>.menu_item_info {
        margin-right: 0.5rem;
    }
    .tasty_menu_card>.menu_item_row>.menu_card_items>.menu_card_item>.menu_item_price {
        margin-right: 0.5rem;
    }
}


/* FOOTER CSS */

.footer {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.9);
}

.footer>.footers1>.fcol {
    width: 46%;
}

.footer>.footers1 {
    width: 46%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer>.footers1>.footer_col1>img {
    width: 100px;
    margin-bottom: 1rem;
}

.footer>.footers1>.footer_col1>iframe {
    height: 250px;
    width: 100%;
}

.footer>.footers1>.footer_col1>.email {
    font-size: 0.75rem;
    color: gray;
    font-family: "montserrat";
    font-weight: 400;
    margin-bottom: 0.25rem;
}

.footer>.footers1>.footer_col2>.location_name,
.footer>.footers1>.footer_col3>.location_name {
    font-size: 1rem;
    color: #fff;
    font-family: "montserrat";
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0.8rem;
}

.footer>.footers1>.footer_col2>.address,
.footer>.footers1>.footer_col3>.address {
    font-size: 0.75rem;
    color: gray;
    font-family: "montserrat";
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.footer>.footers1>.footer_col2>.phone,
.footer>.footers1>.footer_col3>.phone {
    font-size: 0.75rem;
    color: gray;
    font-family: "montserrat";
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer>.footers1>.footer_col2>.location_lunch,
.footer>.footers1>.footer_col3>.location_lunch {
    margin-bottom: 1.5rem;
}

.footer>.footers1>.footer_col2>.location_lunch>.header,
.footer>.footers1>.footer_col3>.location_lunch>.header {
    font-size: 0.85rem;
    color: orange;
    font-family: "montserrat";
    font-weight: 500;
    margin-bottom: 0.35rem;
}

.footer>.footers1>.footer_col2>.location_lunch>.lunch_info,
.footer>.footers1>.footer_col3>.location_lunch>.lunch_info {
    font-size: 0.75rem;
    color: gray;
    font-family: "montserrat";
    font-weight: 400;
    margin-bottom: 0.25rem;
}

.footer>.footers1>.footer_col2>.location_dinner,
.footer>.footers1>.footer_col3>.location_dinner {
    margin-bottom: 1.5rem;
}

.footer>.footers1>.footer_col2>.location_dinner>.header,
.footer>.footers1>.footer_col3>.location_dinner>.header {
    font-size: 0.85rem;
    color: orange;
    font-family: "montserrat";
    font-weight: 500;
    margin-bottom: 0.35rem;
}

.footer>.footers1>.footer_col2>.location_dinner>.dinner_info,
.footer>.footers1>.footer_col3>.location_dinner>.dinner_info {
    font-size: 0.75rem;
    color: gray;
    font-family: "montserrat";
    font-weight: 400;
    margin-bottom: 0.25rem;
}

.footer>.footers1>.footer_col4>.location_name {
    font-size: 1rem;
    color: #fff;
    font-family: "montserrat";
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 2rem;
}

.footer>.footers1>.footer_col4>.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer>.footers1>.footer_col4>.links>.link_col1>.link,
.footer>.footers1>.footer_col4>.links>.link_col2>.link {
    font-size: 0.85rem;
    color: gray;
    font-family: "montserrat";
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-decoration: none;
    display: block;
}

.subfooter {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.subfooter>.rights,
.subfooter>.design {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.5);
    font-family: "montserrat";
    font-weight: 400;
    text-decoration: none;
    display: block;
}

@media (max-width: 900px) {
    .footer {
        flex-direction: column;
    }
    .footer>.footers1>.fcol {
        width: 46%;
    }
    .footer>.footers1 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.blah {
    color: white;
}

.link_col1 .fbi,
.link_col2 .fbi {
    background: white;
}